 /* Ogólny styl strony */
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
}
h2
{ 
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Styl kontenera */
.container {
    max-width: 800px;
    margin: 0 auto;
}
.dialogButtonsContainer
{ 
    max-width: 800px;
    margin-top: 1rem ;
    display: flex;  /* Umożliwia układ przycisków w linii */
    gap: 10px; /* Przerwa między przyciskami */
    justify-content: center; /* Wyrównanie przycisków na środku */
}

/* Styl tabeli */
table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
   
}

/* Styl nagłówków tabeli */
th {
    background-color: #808080;
    color: white;
    padding: 12px;
    text-align: left;
    font-size: 1rem;
}

/* Styl komórek danych */
td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* Styl wiersza "RAZEM" */
tfoot td {
    font-weight: bold;
    font-size: 1.1rem;
    background-color: #f1f1f1;
}

/* Styl wierszy na przemian */
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.material-symbols-outlined {
    font-size: 1em; /* Dopasowanie rozmiaru przycisku do tekstu */
    padding: 0; /* Usunięcie dodatkowego odstępu */
    margin: 0; /* Usunięcie marginesów */
    cursor: pointer; /* Ustawienie wskaźnika jako "ręka" */
    vertical-align: middle; /* Wyrównanie przycisku do tekstu */
}